<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Ajax-ex-10</title>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	</head>
	<body>
		<h1>Ajax + POST요청 + JSON + DTO로 Request/Response + ResponseEntity - [{object},{object},{object}]</h1>
		<hr>
		<br>
		<button onclick="exFn()">Ajax Request Func. 호출 - return : {객체}</button>
	</body>
	<script type = "text/javascript">
		// http://localhost:9696/ex10
		const exFn = () => 
		{
			const val1 = 100;
			const params = {param1 : val1, param2 : "100000000000000"};
			console.log("호출 성공")
			$.ajax({type : "POST", url : "/ex10",
				contentType : "application/json",
				data : JSON.stringify(params),
				success : function(res, status){console.log("Success : ", res), console.log("status : ", status)},
				error : function(err){console.log("Fail : ", err)}
			})
		} 
	</script>
</html>