<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Ajax-ex-08</title>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	</head>
	<body>
		<h1>Ajax + POST요청 + JSON + DTO로 Request/Response + ArrayList</h1>
		<hr>
		<br>
		<button onclick="exFn()">Ajax Request Func. 호출</button>
	</body>
	<script type = "text/javascript">
		// http://localhost:9696/ex08
		const exFn = () => 
		{
			const val1 = 88;
			const params = {param1 : val1, param2 : "888888"};
			console.log("호출 성공")
			$.ajax({type : "POST", url : "/ex08",
				contentType : "application/json",
				data : JSON.stringify(params),
				success : function(res){console.log("Success : ", res.data)},
				error : function(err){console.log("Fail : ", err)}
			})
		} 
	</script>
</html>