<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Ahax-ex-01</title>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	</head>
	<body>
		<h1>Ajax이용해서 GET요청 보내기</h1>
		<hr>
		<br>
		<button onclick="exFn()">Ajax Request Func. 호출</button>
	</body>
	<script type = "text/javascript">
		// http://localhost:9696/ex01
		const exFn = () => 
		{
			console.log("호출 성공")
			$.ajax({
				type : "get", // Request Method
				url : "/ex01", //Request URL
				//요청 성공 시 실행 : HTTP status code = 200(OK) / res = server에서 보내는 값
				success : function(res){console.log("Success : ", res.data)},
				//요청 실패시 실행 : HTTP status code = 404, 405, 500, etc... / err = server에서 보내는 값
				error : function(err){
					console.log("Fail : ", err)}
				
			})
		} 
	</script>
</html>