<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
	</head>
	<body>
		<h1>Ajax실습</h1>
		<hr>
		<a href="ajax-ex-01">01. GET request</a> <br> <br>
		<a href="ajax-ex-02">02. POST request</a> <br> <br>
		<a href="ajax-ex-03">03. GET + parameter request</a> <br> <br>
		<a href="ajax-ex-04">04. POST + parameter request</a> <br> <br>
		<a href="ajax-ex-05">05. GET request + parameter DTO로 받기</a> <br> <br>
		<a href="ajax-ex-06">06. POST request + parameter DTO로 받기</a> <br> <br>
		<a href="ajax-ex-07">07. Ajax + POST request + JSON + DTO로 Request/Response</a> <br> <br>
		<a href="ajax-ex-08">08. Ajax + POST request + JSON + DTO로 Request/Response + ArrayList</a> <br> <br>
		<a href="ajax-ex-09">09. Ajax + POST요청 + JSON + DTO로 Request/Response + ResponseEntity</a> <br> <br>
		<a href="ajax-ex-10">10. Ajax + POST요청 + JSON + DTO로 Request/Response + ResponseEntity - [{object},{object},{object}]</a> <br> <br>
		<a href="movie_lab">11. Movie-LAB</a> <br> <br>

	</body>
</html>