.ToDoEditor .editor_wrapper
{
    width: 100%;
    display: flex;
    gap: 10px;
}

/*style 넣을 때, .ToDoEditor .intput 이런식으로 해줘야, 나중에 또 수정할 필요 없이 자동 적용된다.*/
.ToDoEditor input
{
    flex: 1;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 200);
    border-radius: 5px;
    padding: 15px;
}

/*입력칸 클릭시 파란색으로 변한다.*/
.ToDoEditor input:focus
{
    outline: none;
    border: 1px solid #1f93ff;

}

.ToDoEditor button
{
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: #1f93ff;
    color: white;
    border-radius: 5px;
}